
@{
    ViewBag.Title = "FindYourMed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page">
        <form class="form-horizontal">

            <div class="row">
                <div class="form-group">
                    <div class="col-md-9 dropdown">
                        <label>Search Your Medicine: </label> <br />
                        <select name="med" id="Med" style="width: 90%">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label></label> <br />
                        <input type="button" class="btn btn-primary" value="Find Reviews!" />

                    </div>

                </div>
            </div>
            <br />
            <hr />

            <div class="row">
                <table id="medicineTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Medicine Type</th>
                            <th>Medicine Quantity</th>
                            <th>Medicine Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>a</td>
                            <td>b</td>
                            <td>c</td>
                            <td>d</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>

        <!-- Modal -->
        <div class="modal fade" id="addReviewModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Medicine Review</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-11 dropdown">
                                <label>Search Your Medicine: </label> <br />
                                <select name="medinput" id="MedInput" style="width: 100%">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-11">
                                <label>Description & Used on:</label> <br />
                                <textarea name="description" id="Description" class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-11">
                                <label>Rating:</label> <br />
                                <div id="stars" class="starrr"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-11">
                                <label>Pros & Highlights:</label> <br />
                                <textarea name="pros" id="Pros" class="form-control" placeholder="Pros"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-11">
                                <label>Cons:</label> <br />
                                <textarea name="cons" id="Cons" class="form-control" placeholder="Cons"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary" value="Add Your Review" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts {
<style>
    div.dt-buttons {
        float: left;
        margin-left: 60px;
    }
    .my-btn {
        margin-right: 20px;
    }
</style>
<script>
    $(document).ready(function () {  

        $('#Med, #MedInput').select2({
            theme: "classic",
            width: 'resolve',
            placeholder: 'Select med',
            allowClear: true,
            minimumInputLength: 2
        });       

        var dt_table = $('#medicineTable').DataTable({            
            columns: [
                { data: "MedicineName", },
                { data: "MedicineType", },
                { data: "MedicineQuantity", },
                { data: "MedicinePrice", },
            ],
            scrollX: true,
            dom:
                "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                {
                    text: "<i class='fa fa-plus'></i> Add Review",                                        
                    className: "btn btn-primary my-btn",
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button');
                    },
                    action: function (e, dt, node, config) {
                        $("#addReviewModal").modal("show");
                    }
                },
                {
                    text: "<i class='fa fa-pencil'></i> Edit Review",
                    className: "btn btn-primary my-btn",
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button');
                    }
                },
                {
                    text: "<i class='fa fa-eye'></i> See Review",
                    className: "btn btn-primary",
                    init: function (api, node, config) {
                        $(node).removeClass('dt-button');
                    }
                }
            ]
        });

        // Test ajax call to return medicine name -- need to encrypt token and url
        //$.ajax({
        //    url: "https://datadiscovery.nlm.nih.gov/resource/crzr-uvwg.json?$select=medicine_name,ID,splimprint",
        //    type: "GET",
        //    data: {
        //        "$limit": 50000,
        //        "$$app_token": "tOkBNrHetKQ5smz0vrSZdeZGV"
        //    }
        //}).done(function (data) {
        //    var uniqueData = data.filter((v, i, a) => a.findIndex(t => (t.medicine_name === v.medicine_name)) === i)
        //    for (var i = 0; i < uniqueData.length; i++) {
        //        $("#Med").append("<option value='" + uniqueData[i].ID + "'>" + uniqueData[i].medicine_name + "</option>");
        //    }
        //    });

    });
</script>
}

